#se recomienda usar .env para segurirdad a github
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD = k2026
DB_DATABASE=autopart_electric_db

#codigo del recapcha
RECAPTCHA_SECRET_KEY = 6LdM-RItAAAAAPNUMEbd77CJN_rlv06w2H0C2UN5

# direccin de fron
CORS_ORIGIN = http://localhost:5173

# para el recuperar la contraseña del correo
MAIL_USER=katherinaideramirezalanoca@gmail.com
MAIL_PASSWORD=socsrhbbltcwvpws

#tiempo de espera
RESET_CODE_EXPIRE_MIN=15